/*********************GENERAL STYLES********************************/
*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}



a{
    color: black;
    text-decoration: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

.btn{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: all ease 0.6s;
}

.btn:hover{
    color: whitesmoke;
    background-color: black;
    border-color: whitesmoke;
}

input, textarea, select{
    border: none;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    outline: none;
    outline-offset: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    text-align: center;
}



/********************************NAV*******************************/
header{
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-bottom: 2rem;
}
.nav{
    box-shadow: 0px 3px 16px -3px rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, 0.233);
    border-bottom: none;
}

.nav-link.active {
    color: whitesmoke!important;
    background-color: black !important;
    border-bottom: none;
}


.nav-link{
    color: black;
    transition: all ease 0.6s;
}

.dropdown-menu{
    color: whitesmoke;
    background-color: black;
}

.dropdown-item{
    color: whitesmoke;
    background-color: black;
}

.dropdown-menu:focus{
    color: whitesmoke;
    background-color: black;
}

.nav-link:focus{
    color: whitesmoke!important;
    background-color: black !important;
    
}

.nav-link:hover, .dropdown-menu:hover{
    color: whitesmoke;
    background-color: black;
    border-bottom: none;
}


/*******************************INDEX****************************/

.titulo{
    position: relative;
    max-width: 100vw;
    text-align: center;
    color: rgb(192, 190, 190);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    top: 40%;
}

.header_index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/imgBody.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 50vh;
    margin-top: -2rem;
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
}

.main_index{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main_index h3{
    margin-bottom: 2rem;
}

.especialidades{
    width: 100%;
    display: flex;
    justify-content: space-around ;
    margin-bottom: 2rem;
}

.psiquiatria, .sociologia, .grupal{
    width: 30%;
    text-align: start;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.sociologia p{
    position: relative;
    top: 20%;
    
}


/************************REGISTER*********************************/

.registro{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formReg{
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    
}



/***************************MENSAJES******************************/

.mensajeNo{
    position: relative;
    width: 50vw;
    text-align: center;
    left: 25vw;
    color: rgb(95, 30, 30);
}
.mensajeSi{
    position: relative;
    width: 50vw;
    text-align: center;
    left: 25vw;
    color: rgb(30, 95, 39);
}


/*******************************FACTURACION**********************/

.contFacturacion{
    float: left;
    text-align: center;
    width: 40%;
}

.contPresupuesto{
    float: right;
    width: 40%;
    text-align: center;
}

.contPrecio{
    position: relative;
    
    width: 100%;
    height: 5vh;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logoClinca{   
    width: 15vw;
    height: auto;
    filter: drop-shadow(1px 2px 5px black);
}

.incluye{
    float: left;
    margin-top: 7vh;
    left: 0;
    border: 1px solid black;
    border-radius: 1rem;
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.incluye ul{
    margin: 0;
    padding: 0;
}

.calculo{
    width: 45%;
    float: right;
    right: 0;
    text-align: center;
    
}

.botonCalculo{
    position: relative;
    width: 10vw;
    margin-block: 3rem;
    left: 66vw;
}

.botonEnviar{
    position: relative;
    width: 10vw;
    margin-block: 3rem;
    left: 30vw;
}



/*****************************HISTORIAL**********************************/
.titleHistoral{
    position: relative;
    left: 20vw;
    color: rgb(71, 71, 71);
    text-shadow: 0px 0px 1px black;
}

.formHistorial{
    display: flex;
    width: 60vw;
}

.formHistorial div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.input_nombre{
    width: 100%;
}

.input_numero{
    width: 80%;
}

.tabla h3{
    text-align: center;
}

.tabla_doble{
    display: flex;
    
}

.tabla_doble table{
    margin-inline-end: 2rem;
    width: 40%;
}
.vacunas{
    
    position: relative;
    right: 8%;
}

/*********************PROGRESO******************************/
.contenedorProgress{
    width: 100%;
    display: flex;
    
}

.formProgress{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-inline: 4%;
    
}
.formProgress input{
    margin-bottom: 1rem;
}

.tabla_progreso{
    width: 60%;
}